.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: calc(12.5% - 4px);
  margin: 2px;
  height: calc(100vh/3 - 4px);
  box-sizing: border-box;
  border: 5px solid transparent;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
}

.card.selected > .overlay {
  background-color: #0000009c;
}

.card.userSelected {
  border-color:#28ad03;
}